<%-#encoding: utf-8%>
<h1 class="center">
分类数据抓取页面
</h1>
<script>
  $('document').ready(function(){
    $('form').append('<input id="lines_id" type="hidden" name="post[grab_lines]" value="10">')
    $('#grab_lines').change(function(){
      var line_number = $('#grab_lines').val();
      $('form input#lines_id').remove();
      $('form').append('<input id="lines_id" type="hidden" name="post[grab_lines]" value="'+ line_number +'">')
    });
  });
  
  $('document').ready(function(){
	  $('form[action="/posts/grab_dadi"]').append('<input id="source_id" type="hidden" name="post[grab_source]" value="dadi_housrent_flushing">')

	  $('#grab_source').change(function(){
		  var select_source = $('#grab_source').val();
		
		  $('form input#source_id').remove();
		  $('form[action="/posts/grab_dadi"]').append('<input id="source_id" type="hidden" name="post[grab_source]" value="'+ select_source +'">')
	    });
	});	
		
	$('document').ready(function(){
	  $('form[action="/post_ulos/grab_ulo"]').append('<input id="source_ulo_id" type="hidden" name="post[grab_source]" value="ulo_housrent">')

	  $('#grab_source_ulo').change(function(){
			var select_source = $('#grab_source_ulo').val();
		
		  $('form input#source_ulo_id').remove();
		  $('form[action="/post_ulos/grab_ulo"]').append('<input id="source_ulo_id" type="hidden" name="post[grab_source]" value="'+ select_source +'">')
	    });
	});
</script>
<br/>

<div class="form">
	<div class="form-group">
		<label>提示：如果抓取速度过慢，请耐心等待。如果没有找到你要内容，请多抓几次。</label>
	</div>
	<div class="form-group">
		<label for="grab_lines">抓取行数</label>
		<select id="grab_lines" class="form-control">
			<option>10</option>
			<option>20</option>
			<option>30</option>
			<option>40</option>
		</select>
	</div>
	<div class="form-group">
		<label for="grab_source">大地360--抓取分类选择</label>
		<select id="grab_source" class="form-control">
			<option value="dadi_housrent_flushing">法拉盛租房</option>
			<option value="dadi_housrent_manhattan">曼哈顿租房</option>
			<option value="dadi_housrent_queens">皇后区租房</option>
			<option value="dadi_housrent_brooklyn">布碌仑租房</option>
			<option value="dadi_housrent_elmhurst">艾姆赫斯特租房</option>
			<option value="dadi_housale">房屋买卖</option>
			<option value="dadi_busitran">生意转让</option>
			<option value="dadi_recruit">招聘请人</option>
			<option value="dadi_restaurant_recruit">餐馆请人</option>
			<option value="dadi_nails_recruit">甲店请人</option>
			<option value="dadi_massage_recruit">按摩推拿请人</option>
			<option value="dadi_car">汽车买卖</option>
		</select>
	</div>
	<div class="form-group">
		<%= button_to '大地360--开始抓取', grab_dadi_posts_path, method: :post, class:"btn btn-primary"%>
	</div>

	<div class="form-group">
		<label for="grab_source_ulo">美国生活在线--抓取分类选择</label>
		<select id="grab_source_ulo" class="form-control">
			<option value="ulo_housrent">租房信息</option>
			<option value="ulo_housale">房屋买卖</option>
			<option value="ulo_busitran_restaurant">餐馆转让</option>
			<option value="ulo_busitran_nails">甲店转让</option>
			<option value="ulo_busitran_massage">按摩转让</option>
			<option value="ulo_busitran_laudary">洗衣店转让</option>
			<option value="ulo_busitran_else">其他转让</option>
			<option value="ulo_recruit_restaurant">餐馆请人</option>
			<option value="ulo_recruit_nails">甲店请人</option>
			<option value="ulo_recruit_massage">按摩请人</option>
			<option value="ulo_recruit_secretary">公司职员</option>
			<option value="ulo_recruit_barber">发廊请人</option>
			<option value="ulo_recruit_driver">司机请人</option>
			<option value="ulo_recruit_clinic">诊所请人</option>
			<option value="ulo_recruit_seek">找工作</option>
			<option value="ulo_recruit_else">其他招聘</option>
		</select>
	</div>
	<div class="form-group">
		<%= button_to '美国生活在线--开始抓取', grab_ulo_post_ulos_path, method: :post, class:"btn btn-primary"%>
	</div>
	<div class="form-group">
		<%= button_to '清除过期数据', clear_ulo_post_ulos_path, method: :get, class:"btn btn-default"%>
	</div>
</div>
